

<h1>Stupid Coaching</h1>

<div class="question">
  <p><%= @question %></p>
  <p class="author">- You</p>
</div>

<div class="answer">
  <p><%= @answer %></p>
  <p class="author">- Stupid Coach</p>
</div>


<a href="/ask">Ask new question</a>
