// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
  margin: 15px;
}

div {
  width: 500px;
  padding: 1px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold
}

.question {
  border-left: 5px solid #aaaaaa;
  background-color: #eaeaea;

}

.answer {
  border-left: 5px solid #babaaa;
  background-color: #fafaea;
}

.author {
  font-weight: lighter;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #469AE0;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

